<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.changxiao.runtimepermissionsdemo">

  <!-- 允许程序访问网络连接，可能产生GPRS流量 MIPush 必须权限 -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- 允许程序获取网络信息状态，如当前的网络连接是否有效 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- 允许程序获取当前WiFi接入的状态以及WLAN热点的信 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 允许程序改变WiFi状态 -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <!-- 允许程序振动 -->
  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- 允许访问闪光灯 -->
  <uses-permission android:name="android.permission.FLASHLIGHT"/>

  <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
  <uses-permission android:name="android.permission.GET_TASKS"/>

  <!-- Android6.0 Dangerous permissions and permission groups(危险权限和权限组) -->
  <!-- CONTACTS(通讯录) -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

  <!-- PHONE(电话) -->
  <uses-permission android:name="android.permission.READ_CALL_LOG"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 设备信息 获取手机识别码 getDeviceId -->
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
  <uses-permission android:name="android.permission.USE_SIP"/>
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

  <!-- CALENDAR(日历) -->
  <uses-permission android:name="android.permission.READ_CALENDAR"/>
  <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

  <!-- CAMERA(相机) -->
  <uses-permission android:name="android.permission.CAMERA"/>

  <!-- SENSORS(身体传感器) -->
  <uses-permission android:name="android.permission.BODY_SENSORS"/>

  <!-- LOCATION(位置信息) -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <!-- STORAGE(存储空间) -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- MICROPHONE(麦克风) -->
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <!-- SMS(短信) -->
  <uses-permission android:name="android.permission.READ_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
  <uses-permission android:name="android.permission.RECEIVE_MMS"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>
  <uses-permission android:name="android.permission.SEND_SMS"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".normal.activity.PermissionActivity"/>
    <activity android:name=".normal.activity.ContactsActivity">
    </activity>
    <activity android:name=".permissionsdispatcher.activity.PermissionsDispatcherActivity">
    </activity>
    <activity android:name=".rxpermissions.activity.RxPermissionsActivity">
    </activity>
    <activity android:name=".easypermissions.activity.EasyPermissionsActivity">
    </activity>
    <activity android:name=".andpermission.AndPermissionActivity">
    </activity>
    <activity android:name=".TestActivity">
    </activity>
  </application>

</manifest>